@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

.button{
-fx-border-width : 3px;
-fx-border-radius : 25px;
-fx-border-color : #575656;
-fx-background-color : #c9c9c9;
-fx-font-size : 10;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-pref-height: 20px;
-fx-pref-width: 100px;
}
.label{
-fx-font-size : 15;
}
.root{
-fx-background-color: #c9c9c9;
-fx-font-family : 'Martel Sans';
-fx-text-alignment : CENTER;
-fx-font-size : 13;
-fx-padding: 10 20 10 20;
}